AppinaDayDemonstrationAccounts_20210325132946/Microsoft.Flow/flows/1b999550-b1f9-4763-88b9-0f8492bd3775/definition.json
{"name":"55ed695f-9a7d-47a9-858a-71343dd0e820","id":"/providers/Microsoft.Flow/flows/55ed695f-9a7d-47a9-858a-71343dd0e820","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AIAD-ResetDemoAccounts","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"6fae9ec7-3f7c-4d52-b007-87959083605f","type":"User","tenantId":"3c0e2005-5884-4acf-8b25-be5e5c9abd88"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-03-25T13:18:31.5903686Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Lister_les_lignes_présentes_dans_un_tableau":{"runAfter":{},"metadata":{"01GZ3PCCHU5OXQLE3SR5HJRJ55BJTNSV6P":"/Power Platform/Apps in a Day/Comptes lab.xlsx","tableId":"{DD505B0B-7170-479B-B336-31EA84FAE507}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/4a8ba39c-4a59-4b60-acfb-3434b1a2f14f","drive":"b!y_XzyHfsA02NSdU-PS46AiS8B6mT0mZKoxmQvf6tKF2kSOt1knPFSpED0FBpp_s9","file":"01GZ3PCCHU5OXQLE3SR5HJRJ55BJTNSV6P","table":"{DD505B0B-7170-479B-B336-31EA84FAE507}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Appliquer_à_chacun_2":{"foreach":"@outputs('Lister_les_lignes_présentes_dans_un_tableau')?['body/value']","actions":{"Condition":{"actions":{"Mettre_à_jour_une_ligne_2":{"runAfter":{},"metadata":{"01GZ3PCCHU5OXQLE3SR5HJRJ55BJTNSV6P":"/Power Platform/Apps in a Day/Comptes lab.xlsx","tableId":"{DD505B0B-7170-479B-B336-31EA84FAE507}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"groups/4a8ba39c-4a59-4b60-acfb-3434b1a2f14f","drive":"b!y_XzyHfsA02NSdU-PS46AiS8B6mT0mZKoxmQvf6tKF2kSOt1knPFSpED0FBpp_s9","file":"01GZ3PCCHU5OXQLE3SR5HJRJ55BJTNSV6P","table":"{DD505B0B-7170-479B-B336-31EA84FAE507}","idColumn":"Compte","id":"@items('Appliquer_à_chacun_2')?['Compte']","item/Comment":"'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"equals":["@items('Appliquer_à_chacun_2')?['Utilisation']","Demo"]},"type":"If"}},"runAfter":{"Lister_les_lignes_présentes_dans_un_tableau":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-8738cf72-4e43-4f2c-ad36-decbfe91d556","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}